body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
}
.title{
    width: 100%;
    font-size: 2.5em;
    line-height: 2.5em;
    text-align: center;
    user-select: none;
    margin: 15px 0;
}
.awesome-photo{
    width: 100%;
    height: 60%;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.name{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 2em;
    font-size: 3em;
    position: relative;
    top: 18%;
}
.photo-location{
    position: absolute;
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    width: auto;
    transition-duration: 0.5s;
    left: 50%;
    transform: translateX(-50%);
}
.map-header{
    height: 20px;
    width: 250px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 10px 10px 0 0;
    text-align: center;
    user-select: none;
}
.location-map{
    transition-duration: 0.5s;
    animation-timing-function: ease-out;
    opacity: 0;
}
.photo-location:hover{
    height: 320px;
}
.photo-location:hover .location-map{
    transition-delay: 0.5s;

    opacity: 1;
}
.contact-list{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}
.contact-item{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.contact-icon{
    height: 35px;
    width: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-data{
    font-size: 1.5em;
    line-height: 1.5em;
    padding-left: 10px;
}
#whatsapp-icon{
    background-image: url('../img/whatsapp-icon.png');
}
#gmail-icon{
    background-image: url('../img/gmail-icon.png');
}
#facebook-icon{
    background-image: url('../img/facebook-icon.png');
}
.project-card{
    width: 90%;
    margin: 0 5%;
    display: flex;
    margin-bottom: 40px;
}
@media (min-width: 801px) {
    .project-card{
        flex-direction: row-reverse;
    }
    .project-image{
        height: auto;
        width: 30%;
    }
    .project-info{
        width: 65%;
    }
}
@media (max-width: 800px) {
    .project-card{
        flex-direction: column;
    }
    .project-image{
        height: 200px;
        width: 100%;
        margin-bottom: 25px !important;
    }
    .project-tags > div:nth-child(n+2){
        margin: 3px 0;
    }
    .project-info{
        width: 100%;
    }
}
.project-title{
    font-weight: bold;
    font-size: 1.5em;
}
.project-resource-list{
    display: flex;
    margin-right: 15px;
}
.project-resource{
    color: white;
    background-color: #0388fc;
    padding: 3px 10px;
    border-radius: 15px;
    margin-right: 10px;
    text-decoration: none;
}
.project-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.project-info > div{
    margin-top: 10px;
}
.project-image{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.project-features-title{
    font-weight: bold;
}
.project-tags{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.project-tags > div{
    margin: 0 5px;
}
.project-tags > div:nth-child(n+2){
    background-color: rgb(66, 100, 250);
    color: white;
    border-radius: 10px;
    padding: 3px 10px;
    margin: 0 3px;
}
#e-card{
    background-image: url('../img/e-card.png');
}
#strange-attractors{
    background-image: url('../img/strangeattractor.jpg');
}
.subtitle{
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}